#donation-form{
    height:300px;
    width:400px;
    border-radius: 5px;
    background-color: #414141;
    color:#f9f9f9;
    text-align: center;
    padding:10px;
    opacity: 0.95;
}

#donation-form input,select{
    margin:10px 10px;
    z-index: 0;
}

#donation-form input[type="submit"]{
    border: #45a049;
    border-style: outset;
    border-width:1px;
    padding: 5px 20px;
    border-radius: 6px;
    color: white;
    background-color: #4CAF50;
}

#donation-form input[type="submit"]:hover{
    background-color: #45a049;
}
#donation-form input[type="submit"]:active{
    border-style: inset;
}