.validate-icon{
    display:none;
    
}

.validate-icon-show{
    display: block;
    width: 17px;
    height: 17px;
    color:white;
    background: red;
    border-width:3px;
    line-height: 1;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.validate-icon:hover{
    cursor: pointer;
    background-color: #ff6666;
}

#register-form{
    border-radius: 10px;
    background-color: #333;
    position:absolute;
    height:230px;
    padding:40px;
    padding-bottom: 20px;
    color: #f2f2f2;
    right:33%;
}

#register-label1,#register-label2,#register-label3,#register-label4,#register-label5{
    margin:3px;
    color:#f2f2f2;
    width:120px;
}

#register-submit{
    margin:3px;
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 15px;
    margin: 8px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register-submit:hover {
    background-color: #45a049;
}
#email-field,#name-field,#password-field,#repassword-field{
    margin:3px;
    width:200px;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
#close-button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
#close-button:hover, #close-button:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}