body{
    min-width: 960px;
    margin:0px 0px;
    background-image:url('../img/background.jpg');
}


#mid-container{ 
    width:100%;
    height: 500px;
}

#left-section{
    float:left;
    width:200px;
    height:100%;
    background-color: transparent;
    border-right:solid 1px #888;
}

#middle-section{
    z-index: 0;
    position: absolute;
    left:25%;
    display:inline-block;
    width:available;
    height:auto;
    right:25%;
}

#right-section{
    float:right;
    display:inline-block;
    width: 200px;
    height:100%;
    background-color: transparent;
    border-left:solid 1px #888;
}

footer{
    z-index: 0;
}
#chat-box{
    display: block;
    position:absolute;
    bottom:0;
    right:2px;
    width:250px;
    height:0px;
}

#logo-area img{
    margin-left:500px;
    height:15%;
    width:27%;
}

#logo-area{
    float:top;
    width:100%;    
    padding: 20px 0px;
}

#chat-button{
    margin-bottom: 1px;
    border-radius: 5px;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-color: #a17e19;
    width: 246px;
    height: 20px;
    background: #d7a925;
    color: #000;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    right: 0;
}

#chat-button:active{

    color:#000;
}

#chat-button:active #chat-box{
    height:300px;
}

#chat-button:hover{
    cursor: pointer;
    color:   #000;
    background: #e4b428;
}