#googleMap{
    display:none;
}

#mid-container{
    position: relative;
    top:0;
    display: inline-block;
    width:100%;
    height: auto;
    z-index: 0;
}

#left-section{
    float:left;
    width:200px;
    height:100%;
    background-color: black;
}

#middle-section{
    position:absolute;
    z-index: -1;
    left:25%;
    width: available;
    height:auto;
    right:25%;
}

#right-section{
    float:right;
    display:inline-block;
    width: 200px;
    height:100%;
    background-color: black;
}

body{
    min-width: 960px;
    margin:0px 0px;
    background-image:url('../img/background.jpg');
}

#logo-area{
    float:top;
    width:100%;
    padding: 20px 0px;
    position: relative;

}

#error-popup{
    text-align: center;
    line-height: 3;
    position:absolute;
    bottom:20px;
    right:0;
    background-color: powderblue;
    height: 50px;
    width:200px;
    border-radius: 10px;
    visibility: hidden;
    color: #ff0000;
    opacity: 0;
    transition: 1s;
}

#down-arrow{
    visibility: hidden;
    position:absolute;
    bottom:8px;
    right:25px;
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 12px solid powderblue;
    opacity: 0;
    transition: 1s;
}

#top{
    width:100%;
}

#link-box{
    position:absolute;
    display:block;
    width: inherit;
    background-color: #888;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#right-section>div{
    width:100%;
}
#link-box td{
    
    text-align: center;
}

#link-box a{
    margin-left: 20px;
    color: #000000;
}
