#googleMap{
    display:none;
}
#mid-container{
    top:0;
    display: inline-block;
    width:100%;
    height: auto;
    z-index: -1;
    position: relative;
}

#left-section{
    float:left;
    width:25%;
    height:100%;
    background-color: black;
}

#middle-section{
    position:absolute;
    z-index: -1;
    left:25%;
    width:50%;
    height:auto;
    right:25%;
}

#right-section{
    float:right;
    display:inline-block;
    width: 25%;
    height:100%;
    background-color: black;
}

body{
    min-width: 960px;
    margin:0px 0px;
    background-image:url('../Pictures/background.jpg');
}

#logo-area{
    float:top;
    width:100%;
    padding: 20px 0px;

}

#top{
    width:100%;
}

#link-box{
    position:absolute;
    display:block;
    width:337px;
    background-color: #888;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#link-box a{
    margin-left: 20px;
    color: #000000;
}
