
.valid:before{
    content: "\2713";
    color: green;
    font-size:17px;
}

.invalid:after{
   content: "\00d7";
   color:red;
   font-size:23px;
}

.before-validation:before{
    display:none;
    content: "\2713";
    color: #333;
    font-size:17px;
}

#register-form{
    border-radius: 10px;
    background-color: #859d88;
    position:absolute;
    height:230px;
    padding:40px;
    padding-bottom: 20px;
    color: #f2f2f2;
    right:33%;
}

#register-label1,#register-label2,#register-label3,#register-label4,#register-label5,#additional-label div{
    margin:3px;
    color:#f2f2f2;
    width:120px;
}

#register-submit{
    margin:3px;
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 15px;
    margin: 8px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register-submit:hover {
    background-color: #45a049;
}
#email-field,#name-field,#password-field,#repassword-field,#additional-input input{
    margin:3px;
    width:200px;
}
select{
    margin:3px;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: transparent;/* Black w/opacity */
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 30%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
#close-button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
#close-button:hover, #close-button:focus {
    color: #e3e3e3;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    z-index: 1;
    position: absolute;
    top: 215px;
    right: 445px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}