
#chat-area{
    display:none;
    border-radius: 6px;
    background-color:black;
    width:250px;
    height:300px;
    position:absolute;
    bottom:0;
    right:0;
    border-style: inset;
    border-width: 1px;
}

#chat-input{
    position:absolute;
    bottom:0;
    width:67%;
}
#chat-header{
    border-top-left-radius: 6px;
    background-color: royalblue;
    height:9%;
    width:100%;
}

#chat-title{
    float:left;
    height:100%;
    width:87%;
    text-align: center;
    color: #f2f2f2;
}

#close-button{
    float:right;
    height:100%;
    width:12%;
    text-align: center;
    display:inline-block;
    color: #cccccc;
    background-color: royalblue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
}

#chat-body{
    
    height:91%;
    width:100%;
    
}

#chat-content{
    
    background-color: #f2f2f2;
    width:70%;
    height:100%;
    float:left;
    
}

#chat-list{
    background-color: aliceblue;
    width:30%;
    height:100%;
    float:right;
    float:top;
    
}